
        #about {
            text-align:center;
        }
        .cf-bg{
          background-image:url(../img/banner.jpg);
          background-size: 100% 800px;
          background-repeat:no-repeat;
        }
        .cf-bg1{
            
            height:700px;
        }
        .cf-bg2{
        
            height:700px;
        }
        .cf-bg3{
            height:140px;
            background-color:#808080;
        }
        .container-fluid {
          margin:0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
      }
        body{
            margin: 0px 0px 0px 0px;
        }
        #top_menu ul {

            list-style-type: none;
            padding: 40px 0px 40px 0px;
            margin: 0px 0px 0px 0px;
            float: right;
        }
        #top_menu ul li {
            display: inline;
            padding: 0px 50px 0px 30px;
            margin: 30px 0px 30px 0px;
        }
        #banner {
            height:700px;
        }
        #top_menu{
            position:fixed;
            top:0;
            right:0;
            z-index:999;
        }
        .line{
            width:100%;
            height:2px;
            background:black;
        }
        .portfolio-img{
            display:block;
            position:relative;
            margin:0 auto;
            max-width:400px;
            opacity:0.5;
            overflow:hidden;
        }
        .portfolio-img:hover{
            opacity:1.0;
            cursor:pointer;
            -webkit-transform:scale(1.1); /*  크롬 */
            -moz-transform:scale(1.1); /* FireFox */
            -o-transform:scale(1.1); /* Opera */
            transform:scale(1.1);
            transition: transform .35s;
            -o-transition: transform .35s;
            -moz-transition: transform .35s;
            -webkit-transition: transform .35s;
        }
        .contact{
            margin: 0px 15px 0px 15px;
           
        }
        #contact{
            text-align:center;
        }